
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f4f6f7;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: white;
    position: relative;
}

header div {
    display: inline-block;
}

#logo-title {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 600;
}

main {
    background: white;
    margin: 50px 20% 0;
}

.navbar {
    background: white;
    padding: 10px 50px 10px;
    margin-bottom: 1px;
}

.navbar ul li {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar #btn-add-task {
    background: #46acef;
}

.navbar #btn-add-section {
    color: #aaaaaa;
    background: #fdfdfd;
    border: 1px solid #aaaaaa;
}

section {
    margin-top: 25px;
}

section li {
    padding: 5px 15px 5px;
}

section ul{
    list-style: none;
}

ul .checked::before {
    padding: 1px;
    margin-right: 10px;
    color: green;
    content: "✔ ";
    border: 1px solid green;
    border-radius: 50%;
}

ul .unchecked::before {
    padding: 1px;
    margin-right: 10px;
    color: red;
    content: "✗ ";
    border: 1px solid red;
    border-radius: 50%;
}
